#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/831856e3-5955-4f33-98cb-8dfbb31af7ca # 
title: Airline Flights
version: 1.0
/flights:
  get:
    queryParameters: 
      code:
    responses: 
      200:
        body: 
          application/json:
            example: |
             [{"ID":1, "code":"ER38sd", "price":400,
             "departureDate":"2016/03/20", "origin":"MUA",
             "destination":"SFO", "emptySeats":0, 
             "plane":{"type":"Boeing 737","totalSeats":150}}]
             [{"ID":2, "code":"ER38sd", "price":345,90,
             "departureDate":"2016/03/20", "origin":"MUA",
             "destination":"SFO", "emptySeats":52, 
             "plane":{"type":"Boeing 737","totalSeats":300}}]
  post:
      responses:
        200:
          body: 
            application/json:
              example: |
                {"ID":1, "code":"ER38sd", "price":400,"departureDate":"2016/03/20", 
                "origin":"MUA","destination":"SFO", "emptySeats":0, "plane":{"type":"Boeing 737", 
                "totalSeats":150}}
        201:
          body:
            application/json:
              example: |
                {"message":"Flight added (but not really)"}

  /{ID}:
    get:
      responses: 
        200:
          body:
            application/json:
              example: |
                {"ID":1, "code":"ER38sd", "price":400,"departureDate":"2016/03/20", 
                "origin":"MUA","destination":"SFO", "emptySeats":0, "plane":{"type":"Boeing 737", 
                "totalSeats":150}}

